*{
	font-family: Libre Franklin;
}
.back{
	width: 100%;
}

.col{
	margin: 0;
	padding: 0;
}
#splash{
	text-align: center;
	position: absolute;
	z-index: 1;
}

.log_in{
	text-align: center;
	outline: 1px solid pink;
	vertical-align: middle;
	background-image: url(../img/mobile.png);
	height: 100vh;
	background-size: cover;
}

.main_text{
	width: 60%;
	padding-top: 25vh;
}
.btn{
	background-color: #cda349;
	color: #E2E2E2;
	border: none;
}
label{
	color:#E2E2E2;
	font-size: 120%;
	font-weight: 200;
}
.form{
	width: 55%;
	margin-left: 23%;
	padding-top: 12%;
}












